Source: jackson-databind
Section: java
Priority: optional
Maintainer: Debian Java Maintainers <pkg-java-maintainers@lists.alioth.debian.org>
Uploaders:
 Hilko Bengen <bengen@debian.org>,
 Wolodja Wentland <debian@babilen5.org>
Build-Depends:
 debhelper (>= 9),
 default-jdk (>= 1.7),
 groovy,
 javahelper (>= 0.32),
 junit4,
 libbuild-helper-maven-plugin-java,
 libjackson2-annotations-java (>= 2.8.6),
 libjackson2-annotations-java-doc,
 libjackson2-core-java (>= 2.8.6),
 libjackson2-core-java-doc,
 libmaven-bundle-plugin-java,
 libreplacer-java,
 maven-debian-helper (>= 1.6.5),
 xmlstarlet
Standards-Version: 3.9.8
Vcs-Git: https://anonscm.debian.org/git/pkg-java/jackson-databind.git
Vcs-Browser: https://anonscm.debian.org/cgit/pkg-java/jackson-databind.git
Homepage: http://wiki.fasterxml.com/JacksonHome

Package: libjackson2-databind-java
Architecture: all
Depends: ${misc:Depends}, ${maven:Depends},
 libjackson2-annotations-java (>= 2.8.6),
 libjackson2-core-java (>= 2.8.6),
Recommends: ${maven:OptionalDepends}
Description: fast and powerful JSON library for Java -- data binding
 The Jackson Data Processor is a multi-purpose Java library for processing
 JSON. Jackson aims to be the best possible combination of fast, correct,
 lightweight, and ergonomic for developers. It offers three alternative methods
 for processing JSON:
 .
  * Streaming API inspired by StAX
  * Tree Model
  * Data Binding converts JSON to and from POJOs
 .
 In addition to the core library, there are numerous extension that provide
 additional functionality such as additional data formats beyond JSON,
 additional data types or JVM languages.
 .
 This package contains general purpose data-binding functionality for data
 formats other than JSON.